@model WhyChoose

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
}



@if (Model!=null)
{
    

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <p class="card-description">
                    <div class="table-responsive">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Subtitle</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>



                                <tr>
                                    <td>@Model.Subtitle</td>
                                    <td>@Model.Title</td>
                                    <td>@Model.Descript</td>
                                   
                                </tr>


                            </tbody>
                        </table>
                         <a asp-controller="WhyChoose" asp-action="index" class="btn btn-primary">Back</a>
                    </div>
            </div>
        </div>
    </div>
</div>
}
else{
    <h1>Bosdu</h1>
}
