@model WhyChoose
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col=md-12">
             <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group" >
                      <label asp-for="Title">Title</label>
                      <input asp-for="Title"  class="form-control"  placeholder="Title">
                      <span asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Subtitle">Subtitle</label>
                      <input asp-for="Subtitle"  class="form-control"  placeholder="Subtitle">
                      <span asp-validation-for="Subtitle"></span>

                    </div> 
                    <div class="form-group">
                      <label asp-for="Descript">Descript</label>
                      <input asp-for="Descript"  class="form-control"  placeholder="Descript">
                      <span asp-validation-for="Descript"></span>

                    </div>



                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-controller="WhyChoose" asp-action="Index" class="btn btn-primary">Back</a>
                  </form>
        </div>
       
    </div>
</div>